@model ASP.DataLayer.Models.Power

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Power</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cooldown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cooldown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Backstory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Backstory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
